html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}